*{
    font-family: monospace;
}
body{
    margin: 0;
    font-size: 15px;
    background-color: #f0f8ff;
}
header{
    background-color: #2196F3;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    
}
h1{
    font-size: 50px;    
    color: #2196F3;
}
header h1{
    color: white;
    margin: 0%;
    text-align: center;
}
.button{
     margin: 15px;
    height: 40px;
    width: 140px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
   

}
.button:hover{
    color: white;
    background-color: darkblue;
}
img{
    height: 200px;
}
main{
    padding: 20px;
}
section{
    height: 100vh;
    border: 1px solid grey;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
a{
    text-decoration: none;
}
section div{
    text-align: left;
}
ol li{
    font-size: 20px;
}
form div{
    margin: 5px 0;
}
.submit{
    height: 70px;
    width: 70px;
    border:none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    background-color: #2196F3;
}
.submit:hover{
    background-color: #1b80d2;
}
input{
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 25px;
}   
.Fixedbutton{
  position: fixed;
    bottom: 10px;
    right: 10px;
     height: 70px;
    width: 70px;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    background-color: #2196F3;
}
.submit {
    height: 40px;
    width: 104px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    background-color: #2196F3;
}

footer{
    height: 130px;
    background-color: black;
    color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
